.rounded-circle {
  background-image: linear-gradient(170deg, #f8d3c9, #ff977d);
}

.rounded-circle:hover {
  background-image: linear-gradient(170deg, #ff977d, #f8d3c9);
  font-size: 120%;
}

.list-group{
  cursor: pointer;
}

.recipe-card{
  background-color:rgba(0,0,0,0.05) !important;
}