footer {
  background-image: linear-gradient(170deg, #f8d3c9, #ff977d);  
  height: 40px;
}

/* unvisited link 
a:link {
  color: red;
  text-decoration: none;
}
*/
/* visited link 
a:visited {
  color: red;
}
*/

/* mouse over link
a:hover {
  color: blue;
} */
